body {
    font-family: 'Manjari', sans-serif;
}
#weather-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}
.custom-select {
    width: 250px;
}
.main-nav {
    background-color: #3b5998;
    color: white;
}
#map {
    border: #3b5998 solid 10px;
    display: flex;
    margin: auto;
}
.card {
    border: black 2px dotted;
}
.zoom {
    transition: transform .2s;
    z-index: 1;
}

.zoom:hover {
    transform: scale(1.2);
    z-index: 2;
}
